<div class="container mt-3">
  <div class="row">
    <div class="col">
      <form [formGroup]="textForm">
        <quill-editor
          defaultEmptyValue=""
          format="json"
          formControlName="text"
          [modules]="quillConfiguration"
          [placeholder]="''"
          [styles]="{ 'min-height': '120px' }"
          class="content-editor"
          [customOptions]="customOptions"
          [customModules]="customModules"
          (onEditorCreated)="handleEditorCreated($event)"
        >
        </quill-editor>
      </form>
      <div class="card mt-3">
        <div class="card-header">
            Output
        </div>
        <div class="card-body">
          <pre style="min-height:600px">{{ textForm.value.text }}</pre>
        </div>
      </div>
      <button class="btn btn-sm btn-primary" (click)="handleFontSizeUpdate()">Update fontsize</button>
      <button class="btn btn-sm btn-primary" (click)="getColorsFromPicker()">getColorsFromPicker</button>
    </div>
  </div>
</div>
